#sign {
    float: right;
}

body {
    padding: 20px 10px 10px 10px;
}

h1 {
    margin: 0 0 15px 15px;
}

h2 {
    margin: 30px 0px 30px 20px;
}

form {
    margin: 10px;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#logo {
    width: 200px;
    height: 50px;
    background: url(images/logo.png) no-repeat top center;
    text-indent: -9000px;
    display: inline-block;
}

#index-content{
    margin: 0 auto;
}

#index-content ul {
    padding: 0 10px 10px 10px;
}

.grid-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-between;
    row-gap: 20px;
}

.grid-item {
    border: 2px solid #e5e5e5;
    padding: 10px 10px 10px 10px;
    width: 32%;
    min-width: 550px;
    font-size: 18px;
}

.grid-item:hover {
    background: #e5e5e5;
}

.grid-item a:hover {
    color: #666666;
}

.grid-item a:hover .lance-title {
    background: #666666;
}

.grid-item a:hover .lance {
    border: 2px solid #666666;
}

.grid-item a:hover .price {
    color: #666666;
}

.grid-item img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 350px;
    height: 350px;
}

.grid-item:hover img {
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}

.grid-item p {
    margin: 10px 0 5px 0;
}

.lance {
    font-size: 20px;
    text-align: center;
    display: table;
    margin: auto;
    margin-top: 10px;
    border: 2px solid #0083ff;
}

.lance-title {
    background: #0083ff;
    color: #fff;
    padding: 3px;
    margin-right: 0;
}

.price {
    padding: 5px;
    margin-left: 0;
}

a, a:hover, a:link, a:visited {
    text-decoration: none;
}

/** Inativo **/
.inative {
    background-color: #e5e5e5;
}

.inative a {
    color: #666666;
}

.inative a .lance-title {
    background: #666666;
}

.inative a .lance {
    border: 2px solid #666666;
}

.inative a .price {
    color: #666666;
}

.inative img {
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}

.inative-box {
    float: left;
    background-color: white;
    padding: 20px;
    color: #0083ff;
    position: relative;
    top: -65%;
    left: 90px;
    width: 400px;
    margin-bottom: -90px;
    text-align: center;
    text-transform: uppercase;
}

/** Footer **/
footer {
    text-align: center;
}

/** Text Truncate **/
.crop-text-2 {
    -webkit-line-clamp: 2;
    overflow : hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}