{% extends "auctions/layout.html" %}

{% block title %}Auction - {{ auction.title }}{% endblock %}

{% block body %}
    <!-- Start Auction Content -->
    <div id="auction-content container-fluid">
        <!-- Top Message-->
        {% if message %}
            <div class="alert alert-primary" role="alert">
                {{ message }}
            </div>
        {% endif %}
        {% if auction.win %}
            <div class="alert alert-success text-center " role="alert">
                <p class="h2"><strong>INATIVE</strong></p>
                <p class="h4">Winner Username: {{ auction.win.username }}</p>
            </div>
        {% endif %}<!-- End Message -->

        <!-- Page Title -->
        <h2 class="auction-title">{{ auction.title }}</h2><!-- End Page Title -->

        <!-- Top Div -->
        <div class="top-div row">
            <!-- Left Div -->
            <div class="col-6 align-self-start top-left">

                <!-- Add to Favorite -->
                {% if user.is_authenticated and not auction.win %}
                    <div class="d-flex justify-content-start ml-2">
                        <form action="{% url 'watch' %}" method="post">
                            {% csrf_token %}
                        {% if watch %}
                                <button class="btn btn-danger btn-sm" name="auctionid" value="{{ auction.id }}">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-dash-lg" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd" d="M2 8a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11A.5.5 0 0 1 2 8Z"/>
                                    </svg> Watch List
                                </button>
                        {% else %}
                                <button class="btn btn-primary btn-sm" name="auctionid" value="{{ auction.id }}">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z"/>
                                    </svg> Watch List
                                </button>
                        {% endif %}
                        </form>
                    </div>
                {% endif %}<!-- End Add to Favorite -->

                <!-- Image -->
                <div style="aspect-ratio : 1 / 1; width:70%;" class="d-flex justify-content-center ml-3 border border-secondary rounded">
                    {% if auction.image %}
                        <img src="{{ auction.image }}" alt="{{ auction.title }}">
                    {% else %}
                        <img src="https://upload.wikimedia.org/wikipedia/commons/1/14/No_Image_Available.jpg" alt="{{ auction.title }}">
                    {% endif %}
                </div>

            </div><!-- End Left Div -->

            <!-- Right Div -->
            <div class="top-right col-6 align-self-center">

                <!-- Initial Bid -->
                <div class="lance">
                    <span class="lance-title">Initial Bid:</span><span class="price">${{ auction.initial_bid }}</span>
                </div><!-- End Initial Bid -->

                <!-- Actual Bid -->
                {% if auction.bids.last.bid %}
                    <div class="lance">
                        <span class="lance-title">Actual Bid: </span>
                        <span class="price">
                                ${{ auction.bids.last.bid }}
                        </span>
                    </div>
                {% endif %}<!-- End Actual Bid -->

                <!-- Give Bid -->
                {% if user.is_authenticated and not auction.win %}
                    <form action="{% url 'auction' auction.id %}" method="post" class="form-group d-flex justify-content-center">
                        {% csrf_token %}
                        <div class="input-group" style="width: 50%; min-width: 208px;">
                            <div class="input-group-prepand">
                                <span class="input-group-text">$</span>
                            </div>
                            <input type="number" name="lance" class="form-control" step="0.01" value="0.00">
                            <div class="input-group-append">
                                <button class="btn btn-primary" name="auctionid" value="{{ auction.id }}">Give Bid</button>
                            </div>
                        </div>
                    </form>
                {% endif %}<!-- End Give Bid -->

                <!-- Close Auction -->
                {% if auction.user.id == user.id and not auction.win %}
                    <div class="d-flex justify-content-center">
                        <form action="{% url 'close' %}" method="post">
                            {% csrf_token %}
                            <button class="btn btn-info" name="auctionid" value="{{ auction.id }}">Encerrar Leilão</button>
                        </form>
                    </div>
                {% endif %}<!-- End Close Auction -->

            </div><!-- End Right Div -->
        </div><!-- End Top Div -->

        <!-- Main Div -->
        <div class="col-12">
            <!-- Description -->
            <div>
                <h3 class="my-3">Description</h3>
                <p class="m-3">{{ auction.description|linebreaksbr }}</p>
            </div><!-- End Description -->

            <!-- Details -->
            <div>
                <h3 class="my-3">Details</h3>
                <ul class="m-3">
                    <li><strong>Category:</strong> {{ auction.categorie }}</li>
                    <li><strong>Criated:</strong> {{ auction.created }}</li>
                    <li><strong>Creator:</strong> {{ auction.user.first_name }}</li>
                </ul>
            </div><!-- End Details -->

            <!-- Comments -->
            <div>
                <h3 class="my-3">Comments</h3>
                    <div class="card m-3">
                        {% for comment in auction.comments.all %}
                            <div class="card-body mb-0 pb-0">
                                <h5 class="card-title">{{ comment.title }}</h5>
                                <p class="card-text">{{ comment.comment }}</p>
                                <p class="blockquote-footer">{{ comment.date }} by <span>{{ comment.user }}</span></p>
                                <hr class="my-4">
                            </div>
                        {% empty%}
                            No Comments
                        {% endfor %}
                    </div>
            </div><!-- End Comments -->

            <!-- Write Comments -->
            <div class="my-3">
                <h5 class="my-3 ml-5">Write Comment</h5>
                {% if user.is_authenticated and not auction.win %}
                    <div class="d-flex justify-content-center">
                        <form class="form-group col-10" action="{%  url 'comment' auction.id %}" method="post">
                            {% csrf_token %}
                            {{ commentform.as_p }}
                            <input class="btn btn-primary" type="submit" value="Comentar">
                        </form>
                    </div>
                {% else %}
                    <div class="ml-5">
                        To make a comment <a href="{% url 'login' %}">Login</a>
                    </div>
                {% endif %}
            </div><!-- End Write Comments -->

        </div><!-- End Main Div -->

    </div><!-- End Auction Content -->
{% endblock %}